.container-dash{
    display: flex;
    height: 100vh;
    position: relative;
}

.left-dash{
    position: relative;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-right: 1px solid;
    border-color: rgb(218, 212, 212);

}
.logo-dash{
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 70%;
    transform: translateX(-50%);

}

.link-container-dash{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    bottom: 35%;
    width: 100%;
}

.link-dash{
    margin: 10%;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
}

.right-dash{
    position: relative;
    flex-direction: row;
    flex:5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dash-upper-part{
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: rgb(218, 212, 212);
    
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;



    
    
}
.dash-lower-part{
flex: 9;
width: 100%;
}
.dash-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    padding-right: 5%;
    height: 40%;
    
    
    
    
    
}



.search-bar-div{
    display: flex;
  position: relative;
   flex: 2;
   margin-top: 1%;
   height: 50%;
   
   
   

} 

.search-bar-dash{
    
    width: 70%;
    height: 70%;
    border: 1px solid;
    border-color: #EAECEE;
    border-radius: 15px;
    padding-left: 4%;
    
    
    
}





.cities{
    margin-left: 5%;
    margin-top: 0px;
    background-color: #F5B9B726;
    font-family: "Abhaya Libre ExtraBold";
    font-weight: bold;
    border: 1px solid;
    border-radius: 20px;
    border-color: #F5B9B726;
    width: 150px;
    height: 100%;


}

.lower-upper-dash{
    display: flex;
    flex: 1;
    margin-top: 3%;
    height: 14%;
    margin-bottom: 5%;
}

.lower-lower-dash{
    display: flex;
    flex: 4;
}



.current-city{
    
    position: relative;
    width: 10%;
    left: 5%;
}

.requirement-dash{
    width: 15%;
    position: relative;
    left: 23%;
}

.buttons-dash-lower{
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: -18%;
    
    
}

.needs{
    
    position: relative;
    width: 70%;
    height: 10%;
    margin: 3%;
    
    background-color: #F5B9B726;
    font-family: "Abhaya Libre ExtraBold";
    font-weight: bold;
    border: 1px solid;
    border-color: white;
    border-radius: 20px;
    
}

.low-up{
    background-color: #F5B9B726;
    font-family: "Abhaya Libre ExtraBold";
    font-weight: bold;
    width: 15%;
    height: 50%;
    border: 1px solid;
    border-radius: 20px;
    border-color: #F5B9B726;

}

.property-heading{
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    
}

.boxx{
    display: flex;
    position: relative;
    border: 1px solid;
    border-radius: 90px;
    border-color: #FFF0F0;
    background-color: #FFF0F0;
    align-items: center;
    flex: 3;
    height: 20px;
    
}

.property{
    width: 100%;
    height: 100%;
    border: 1px solid;
    flex: 2;
    border: 1px solid;
    border-radius: 90px;
    border-color: #F5B9B7EB;
    background-color: #F5B9B7EB;
    margin-right: 3%;
    
   
    
}


.inner-box{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid;
    border-radius: 90px;
    background-color: #FFBBBB;
    border-color: #FFBBBB;
    margin-left: 2%;
    margin-right: 2%;
    
    height: 70%;
}



.outer-divv{
    display: flex;
    position: relative;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    

  
}

.right-plus{
    margin-left: 1%;
}

.left-minus{
    margin-right: 1%;
}

.buttonsss{
    display: flex;
    position: relative;
    height: 20px;
}

.handle{
    height: 100%;
}

.values-of-boxes{
    position: absolute;
    display: flex;
    right: 40%;
    align-items: center;
    justify-content: center;
    color: black;
}